.mainWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.generalInfo {
  display: flex;
  justify-content: space-between;
}

.progressBarWrapper {
  background-color: rgb(192, 186, 186);
  width: 100%;
  border-radius: 12px;
  height: 7px;
}

.progressBar {
  background-color: var(--yellow-color);
  border-radius: 12px;
  height: 7px;
  animation: moveProgress 0.7s ease-out forwards; /* анімація зміни ширини */
}

.name,
.interval {
  margin-bottom: 10px;
}

.interval {
  display: flex;
  align-items: flex-end;
}

.description {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.nextMaintenance {
  text-align: right;
  margin-top: 10px;
}

@keyframes moveProgress {
  0% {
    width: 0%;
  }
  100% {
    width: var(--target-width); /* кінцева ширина */
  }
}
