.mainWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
}

.formWrapper {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
}