.mainWrapper {
  width: 70%;
  height: 60px;
  margin-bottom: 45px;
}

.mainWrapperMaintenance {
  width: 95%;
  margin-bottom: 45px;
}

.input {
  width: 100%;
  height: 70%;
  border: 0;
  border-bottom: 1px solid black;
  outline: 0;
  font-size: 15px;
  font-family: "Montserrat";
  font-weight: 400;
  transition: border ease 0.25s;
  margin-top: 5px;
  padding: 0;
}

.input:focus {
  border-bottom: 1px solid var(--yellow-color);
  transition: ease 0.25s;
}

.label {
  font-size: 16px;
  margin: 0;
  font-weight: 600;
}
