.mainWrapper {
  width: 425px;
  max-height: 550px;
  min-width: 280px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  margin-bottom: 25px;
  width: calc(33.333% - 20px); /* Приклад на 3 в ряд */
  margin: 10px;
  transition: box-shadow ease 0.5s;
  text-decoration: none;
  color: black;
}

.mainWrapper:hover {
  box-shadow: 0 10px 8px rgba(0, 0, 0, 0.5);
  transition: box-shadow ease 0.5s;
}

.photo {
  width: 100%;
  /* height: 70%; */
  aspect-ratio: 16 / 9; /* Автоматично вирахує висоту від ширини */
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  object-position: center;
}

.textWrapper {
  margin-left: 10px;
}

.header {
  font-weight: 900;
}

.description {
  font-weight: 500;
}

.editIconWrapper,
.navigationToMaintenance {
  text-decoration: none;
  color: black;
}
