.toast {
  color: white;
  padding: 12px 16px;
  border-radius: 8px;
  margin-top: 10px;

  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.enter {
  opacity: 1;
  transform: translateY(0);
}

.exit {
  opacity: 0;
  transform: translateY(20px);
}

.toastError {
    background-color: var(--red-error-color);
}

.toastSuccess {
    background-color: var(--green-success-color);
}