.mainWrapper {
  height: 100px;
  width: 100%;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid black;
}

.navlink {
  color: black;
  text-decoration: none;
  transition: color ease 0.3s;
}

.navlink:hover {
  color: var(--yellow-color);
  transition: color ease 0.3s;
}

.yellowContainerNavlink {
  border: 1px solid var(--yellow-color);
  width: 150px;
  height: 50px;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 45px;
  transition: background-color ease 0.6s;
  color: black;
  text-decoration: none;
}

.yellowContainerNavlink:hover {
  background-color: var(--yellow-color);
  transition: background-color ease 0.6s;
}
