.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainWrapper {
  margin-bottom: 45px;
}

.addButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: 0;
  transition: color ease 0.3s;
}

.addButton:hover {
  color: var(--yellow-color);
  transition: color ease 0.3s;
}

.header {
  font-weight: 800;
}

.scrollContainer {
  width: 100%;
  max-height: 400px; /* Висота, після якої з'явиться скрол */
  overflow-y: auto;  /* Тільки вертикальний скрол */
  padding-right: 8px; /* Місце для скролбару */
}

/* Кастомізація скролу (опціонально, але для ноута буде гарніше) */
.scrollContainer::-webkit-scrollbar {
  width: 6px;
}

.scrollContainer::-webkit-scrollbar-thumb {
  background-color: var(--yellow-color); /* Твій жовтий колір */
  border-radius: 10px;
}

.scrollContainer::-webkit-scrollbar-track {
  background: transparent;
}