.label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.checkbox {
  accent-color: var(--yellow-color);
  width: 20px;
  height: 20px;
  margin: 0;
  margin-right: 10px;
  /* margin-bottom: 10px; */
}
