.mainWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.wrapperForMaintenanceBlocks {
  width: 95%;
}

.paddingWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.horizontalWrapper {
  display: flex;
  flex-direction: column;
  width: 44%;
}

.emptyText {
  color: gray;
  text-align: center;
  width: 50%;
}

.emptyContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-top: 150px;
}
