.mainWrapper {
  width: 450px;
  height: 350px;
  margin-bottom: 15px;
}

.inputWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.previewImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.placeholder {
  font-size: 45px;
  text-align: center;
}
