body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat";
}

/* Color constants  */
:root {
  --yellow-color: #dada11;
  --red-error-color: #ff4d4f;
  --green-success-color: #1a771f;
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/font/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("./assets/font/Montserrat/Montserrat-Bold.ttf");
}
